#sv_risk_objects {
  background: #156877;
  
}
#sv_risk_objects .single-value, #creates .single-drilldown, #creates .single-value .under-label {
  color: #ffffff;
}

#sv_risk_objects .single-value .single-result{
  font-size: 50px;
  font-weight: 200;
  color: #ffffff;
}

#sv_risk_score {
  background: #2B7D8C;
  
}
#sv_risk_score .single-value, #creates .single-drilldown, #creates .single-value .under-label {
  color: #ffffff;
}

#sv_risk_score .single-value .single-result{
  font-size: 50px;
  font-weight: 200;
  color: #ffffff;
}

#sv_total_risk_score {
  background: #6EB3C0;
  
}
#sv_total_risk_score .single-value, #creates .single-drilldown, #creates .single-value .under-label {
  color: #ffffff;
}

#sv_total_risk_score .single-value .single-result{
  font-size: 50px;
  font-weight: 200;
  color: #ffffff;
}

#sv_alert_searches {
  background: #A4D6DF;
  
}
#sv_alert_searches .single-value, #creates .single-drilldown, #creates .single-value .under-label {
  color: #ffffff;
}

#sv_alert_searches .single-value .single-result{
  font-size: 50px;
  font-weight: 200;
  color: #ffffff;
}


.single-result {
  width: 24%;
  vertical-align: top;
  text-align: right;
  top: 10px;
}
.single-value {
  margin-right: 0px !important;
}

.single-value > br {
  display: none;
}

.before-label, .after-label, .under-label {
  display: none;
}


.trend-ctr {
  position: relative;
  height: 40px;
  width: 14%;
  margin-left: 0;
}

.single .panel-body {
  text-align: center;
  width: 100%;
  display: block;
  white-space: nowrap;
  overflow: hidden;
  height: 64px;
  vertical-align: middle;
}

.single .panel-body > div {
  display: inline-block;
  position: relative;
}


.delta {
  text-align: center;
  padding-top: 3px;
  font-size: 20px;
  height: 16px;
  width: 2.4em;
  color: #ffffff;
  position: relative;
  top: 13px;
}
.trend-arrow {
  text-align: center;
  height: 10px;
  margin-right: 40px;
}

.trend-arrow.arrow-decrease::after {
  content: url(/static/app/risk_manager/down-white.png);
}

.trend-arrow.arrow-increase::after {
  content: url(/static/app/risk_manager/up-white.png);
}